header{
    font-size: 60px;
    text-align: center;
    color:black;
    background-color: lightskyblue;
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center center;
}
p{
    text-align: center;
}
body{
    background-color: yellow;
}
div.column.my-column{
    background-color: rgb(81, 81, 119);
}










